In [ ]:
'''

range Function
The range function returns a sequence of numbers, e.g., numbers starting from 0 to n-1 for range(0, n):

syntax: range(int_start_value, int_stop_value, int_step_value)

Here the start value and step value are by default 1 if not mentioned by the programmer, 
but int_stop_value is a compulsory parameter in the range function.

'''

'\nrange Function\nThe range function returns a sequence of numbers, e.g., numbers starting from 0 to n-1 for range(0, n):\n\nsyntax: range(int_start_value, int_stop_value, int_step_value)\n\nHere the start value and step value are by default 1 if not mentioned by the programmer, \nbut int_stop_value is a compulsory parameter in the range function.\n'

for loop

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10, 1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [13]:
## strings

str="Krish naik"

for i in str: 
    print(i)

K
r
i
s
h

n
a
i
k

In [16]:
count=0

while count<5: 
    print(count)
    count=count+1

0
1
2
3
4

In [19]:
count=0 

while count%2==0: 
    print(count)
    count=count+1

0

In [22]:
## loop control statement 

## break - The break statement exits the loop prematurely 
## break statement 

for i in range(10): 
    if i==5: 
        break; 
    print(i)

0
1
2
3
4

In [24]:
## continue 

''' The continue statement skips the current iteration and continue with next 
'''

for i in range(10):
    if i==5: 
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [29]:
## pass - pass statement is a null operation, it does nothing 

for i in range(5):
    if i==3: 
        print("The number is",i)
        pass
    print(i)

0
1
2
The number is 3
3
4

In [32]:
## nested loop or loop inside loop 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [38]:
# calculate sum of first N natural number 

n=10
i=0
sum=0 

while i<=n:
    sum=sum+i
    i=i+1

print("Sum of first",n,"natural number is",sum)

Sum of first 10 natural number is 55

In [ ]:
## prime number between 1 to 100

for i in range(1,100):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97